body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #cfd9df, #e2ebf0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    overflow: auto; /* Allow body to scroll if necessary */
}

.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-height: 90vh; /* Ensures the form container does not exceed viewport height */
    overflow-y: auto; /* Adds a scrollbar to the form container if needed */
    margin-top: 20px; /* Add a bit of top margin to ensure visibility */
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    border-color: #4CAF50;
    background-color: #fff;
}

.radio-group {
    margin-bottom: 15px;
}

.radio-group label {
    display: inline-block;
    margin-right: 10px;
    font-weight: normal;
    color: #555;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button[type="button"] {
    background-color: #f44336;
    color: white;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="button"]:hover {
    background-color: #e41f1f;
}

select {
    width: 100%;
    padding: 10px; /* Adjust padding to match other input elements */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

select:focus {
    border-color: #4CAF50;
    background-color: #fff;
}
